.report {
  height: 100%;
  padding: 16px;
  position: relative;
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #e8efeb;

  scrollbar-width: none;
}

.history {
  width: 320px;
}

.text {
  width: fit-content;
  margin: 0 auto;

  & h1 {
    text-align: center;
    color: #389e0d;
  }
}

.list {
  background: transparent;
  height: 100%;
  overflow: auto;

  & :global(.ant-card-body) {
    padding: 8px;
  }

  & > :global(.ant-card-head) {
    border: none;
    padding: 12px;
    font-size: 24px;
    color: #fff;
  }
}

.item {
  cursor: pointer;

  &[data-selected='true'] {
    border-color: #389e0d;

    & > :global(.ant-card-body) {
      background-color: #f6ffed;
    }
  }
}

.preview {
  display: inline-block;
  max-width: 300px;
}

.markdown {
  margin-top: 24px;
  font-size: 28px;
}
