.chat {
  position: relative;
  background: transparent;
  height: calc(100% - 136px - 24px);
}

.body {
  height: '100%';
}

.btns {
  position: absolute;
  right: 24px;
}

.suffix {
  & button {
    width: 58px !important;
    height: 58px !important;
  }

  & span {
    font-size: 36px;
  }
}
