.chat {
  position: relative;
  background: transparent;
  height: calc(100% - 110px);
}

.body {
  height: '100%';
}

.btns {
  position: absolute;
  right: 24px;
}

.suffix {
  & button {
    width: 48px !important;
    height: 48px !important;
  }

  & span {
    font-size: 24px;
  }
}
