.chat {
  position: relative;
  background: transparent;
  width: 100%;
  height: 100%;
}

.body {
  height: '100%';
}

.btns {
  position: absolute;
  right: 24px;
}

.suffix {
  & button {
    width: 58px !important;
    height: 58px !important;
  }

  & span {
    font-size: 36px;
  }
}

.input {
  font-size: 24px !important;
}
