.chat {
  position: relative;
  background: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.bubbles {
  flex: 1 1 auto;
  width: 100%;
  max-width: calc(100% - 220px);
  overflow-y: hidden;
}

.sender {
  width: 100%;
  flex: 0 0 auto;
  max-width: calc(100% - 220px);

  & :global(.ant-sender) {
    border: none;
  }
  & :global(.ant-sender-content) {
    border-radius: 8px;
    background: #ffffff;
  }
}

.body {
  height: '100%';
}

.btns {
  position: absolute;
  right: 24px;
}

.suffix {
  & button {
    width: 58px !important;
    height: 58px !important;
  }

  & span {
    font-size: 36px;
  }
}

.input {
  font-size: 20px !important;
}

.action {
  font-size: 20px;
  color: #ffffff !important;
}
