.btn {
  position: fixed;
  right: 24px;
  top: 52px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: radial-gradient(transparent 20%, #86ffae);
  cursor: pointer;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    background: radial-gradient(transparent 20%, #73d13d);
  }
}
