.section {
  background-color: rgb(240, 242, 245);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  flex-flow: column;

  & :global(.ant-space-item:nth-of-type(1)) {
    width: 100%;
  }
}

.grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
}

.execution {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
}
