.home {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;

  --item-width: 320px;
}

.footer {
  width: 100%;
  min-width: calc(var(--item-width) * 4 + 240px);
  position: absolute;
  bottom: 0;
  padding-inline: 60px;
  height: 329px;
  background-image: url('/assets/imgs/foundation.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.list {
  width: 100%;
  padding-inline: 80px;
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: -48px;
  row-gap: 48px;
  position: absolute;
  bottom: 329px;
  gap: 16px;
}

.item {
  flex: 0 0 var(--item-width);
  height: 445px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;

  & button {
    width: 75%;
    height: 60px;
    position: absolute;
    outline: none;
    border: none;
    left: 50%;
    transform: translateX(-50%);
    bottom: 83px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    color: white !important;
    background: transparent !important;
  }
}
