.wrap {
  width: 100vw;
  height: 100vh;
}

.content {
  width: 100%;
  height: 100%;
  /* max-width: 1920px; */
  /* max-height: 1080px; */
  max-width: 1586px;
  max-height: 864px;
  overflow: hidden;
  background-image: url('/assets/imgs/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  height: 100px;
  background: url('/assets/imgs/header.png') no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-inline: 36px;

  & h1 {
    font-family: 'Alimama_ShuHeiTi_Bold';
    margin: 0;
    color: white;
    font-size: 36px;
  }
}

.main {
  height: calc(100% - 100px);
}
