.analysis {
  padding: 16px;
  height: 100%;
  position: relative;
}

.algorithm {
  & * {
    color: #fff;
    font-size: 18px;
  }
}

.title {
  position: absolute;
  top: 24px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 50%;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    background: #07fa68;
  }

  & h2 {
    margin: 0;
    color: #fff;

    &::after {
      content: '';
      position: absolute;
      bottom: -15px;
      width: 30%;
      height: 2px;
      left: 50%;
      transform: translateX(-50%);
      background: #04c852;
    }
  }
}

.content {
  height: calc(100% - 40px - 180px);
  padding-block: 16px;
  justify-content: space-between;
  gap: 48px;
}

.report {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
}

.history {
  height: 180px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  align-items: center;
  overflow: auto;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 8px;
  scrollbar-width: none;
}

.item {
  cursor: pointer;
  justify-content: space-between;
  min-width: 'max-content';
  background: #005c25;
  flex-shrink: 0;
}
